<nav>
  <ul>
    <li>
      <% if current_user %>
        Welcome, <%= current_user.login %>
        <%= link_to "Logout", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Sign in with GitHub", github_login_path %>
      <% end %>
    </li>
  </ul>
</nav>
